<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your description here"/>
    <meta name="author" content="Your Name"/>
    <title>Page title</title>
    <!-- Bootstrap CSS -->
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<br />
<div class="container">
    <ul class="nav nav-pills navbar">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/contactUsError">Contact</a></li>
    </ul>
    <div class="jumbotron">
        <h1>Latino Gig Guide</h1>
        <p>Welcome to the place where you can find your dream latino concert.</p>
        <p>
            <a class="btn btn-default" href="/listLatinoGigs" role="button">View concerts</a>
        </p>
        <p>
            <a class="btn btn-default" href="/explode" role="button">Cause an explosion</a>
        </p>
    </div>
</div>
<!--
    Bootstrap javascript and JQuery should be loaded
    Placed at the end of the document for faster load times
-->
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>